/* ELEMENTS */

html {
   scroll-behavior: smooth;   
}

body {
   counter-reset: chapter;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "Meiryo";
   margin: 0;
   margin-bottom: 50px;
   padding: 0;
   padding-top: 210px;
}

a {
   color: #00c;
   text-decoration: none;
}

h1, #toc, main {
   margin: 0 25px;
}

main a::after {
   content: "🔗";
   font-size: smaller;
   position: relative;
   top: -5px;
}

#toc a::after {
   display: none;   
}

a:hover {
   text-decoration: underline;
}

code, pre {
   width: fit-content;
}

figure {
   line-height: 1.2;
   margin-left: 0;
}

figcaption {
   font-size: smaller;
   font-style: italic;
}

h1,
h2, 
h3, 
h4 {
   font-weight: normal;
   margin-bottom: 1em;
   margin-top: 1.3em;
   padding-bottom: 0.3em;
   width: fit-content;
}

h1 span,
h2 span, 
h3 span, 
h4 span {
   position: relative;
   top: -50px;
}

h1 {
   line-height: 1.2;
   border-bottom-width: 1px;
   border-bottom-style: solid;
}

h2 {
   border-bottom: 4px double #ccc;
   counter-reset: subchapter;
   padding-bottom: 5px;
}

h2::before {
   counter-increment: chapter;
   content: counter(chapter) ". ";
}

h3 {
   border-bottom: 2px solid #ccc;
   counter-reset: subsubchapter;
}

h3::before {
   counter-increment: subchapter;
   content: counter(chapter) ". " counter(subchapter) " ";
}

h4 {
   border-bottom: 1px dotted #ccc;
   font-size: 14px;
   text-transform: uppercase;
}

h4::before {
   counter-increment: subsubchapter;
   content: counter(chapter) ". " counter(subchapter)  ". " counter(subsubchapter) " ";
}

img {
   max-width: 100%;
}

figure {
   margin-bottom: 1.5em;
   margin-top: 0;
}

nav {
   background-color: #faf5e6;   
   box-shadow: 0 5px 10px #ccc7;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   transition: all 0.1s;
}

p, table {
   max-width: 1200px;
}

table {
   margin-bottom: 1em;
}

/* CLASSES */

.bordered {
   border: 1px solid #ccc;
}

.centered {
   text-align: center;
}

html body .em {
   background-color: #ddd;
   color: #564826;
   padding: 1px 2px;
}

.tips {
   background-color: #eee;
   border: 2px dashed #999;
   padding: 40px 50px 10px 20px;
   position: relative;
}

.tips::before {
   content: "💡TIP";
   font-size: 20px;
   left: 5px;
   position: absolute;
   top: 5px;
}

#up {
   bottom: 10px;
   color: #666;
   font-size: 30px;
   position: fixed;
   right: 10px;
   transition: color 0.3s;
}

#up:hover {
   color: #333;
}

/* NAV */

.site__nav {
   column-gap: 2.5%;
   display: flex;
   justify-content: center;
   padding: 1.875em 0;
   row-gap: 1.875em;
}

.main__thumb {
   align-items: center;
   background-color: #e1d9c0;
   border: 0.25em solid #eee;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
   color: #333;
   display: flex;
   flex-direction: column;
   font-size: 0.7em;
   font-family: 'League Gothic', sans-serif;
   justify-content: flex-start;
   padding: 1em 0.5em;
   text-decoration: none;
   text-shadow: 0px 5px 2px rgba(150, 150, 150, 0.71);
   text-transform: uppercase;
   transition: all .2s linear;
   width: 16em;
}

.main__thumb:hover,
.main__thumb.active {
   border-color: #c0a86e;
   text-decoration: none;
}

.thumb__title {
   font-size: 1.8em;
   font-weight: normal;
   margin-bottom: 0.75em;
   margin-top: 0;
   white-space: nowrap;
}

.thumb__visual {
   display: block;
   margin-bottom: 1em;
   width: 50%;
}

.thumb__small {
   font-size: 0.5em;
   margin-bottom: 0;
   margin-top: auto;
}

/* TABLE OF CONTENTS */

#toc ul {
   list-style: none;
   padding-left: 0;
}

#toc ul ul {
   padding-left: 25px;
}

/* TABLES */

table {
   border-collapse: collapse;
}

table > tbody > tr + tr > td {
   border-top-color: #ccc;
}

table > thead > tr > th {
   text-align: left;
   border-bottom: 1px solid;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td {
   padding: 5px 20px 5px 0;
}

table > thead > tr > th:first-child,
table > thead > tr > td:first-child,
table > tbody > tr > th:first-child,
table > tbody > tr > td:first-child {
   min-width: 150px;
}

table > tbody > tr + tr > td {
   border-top: 1px solid;
}

/* CODE */

code {
   font-family: Consolas, Menlo, Monaco, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
   font-size: 0.9em;
   line-height: 1.357em;
}

:not(pre) > code { /* inline code */
   color: #917230;
}

pre {
   border: 1px solid #ccc;
   border-radius: 3px;
   font-weight: 100;
   line-height: 19px;
   margin-bottom: 1.5em;
   margin-top: 0;
   overflow-wrap: break-word;
   padding: 1em;
   white-space: pre-wrap;
}

figure.console pre {
   background-color: black;
   background-image: url(../img/consoleheader.png);
   background-repeat: no-repeat;
   background-size: 100% auto;
   color: #ddd;
   display: inline-block;
   font-family: Consolas,"Liberation Mono","Courier New",monospace;
   font-size: 0.8em;
   line-height: 1.357em;
   margin: 0;
   width: 400px;
   padding-top: 35px;
}

pre[class*="language-"] {
	background: #f5f2f0;
}

code[class*="language-"] {
	background: none;
}